


/* #################################### */
/* ATÉ 1200px (NOTEBOOK) */
/* #################################### */

@media (max-width:1200px) {

    .topo h1 {
    margin: 10px 10px;
}



    .rede-social img{
    margin-right: 8px;
    }


    .login img {
    width: 35px;
}

.rede-social {
    margin-right: 15px;
}



.destaque article {
    /* temporário */
    height: 300px;
}



/* Setas do slide depoimentos e eventos */
.eventos .slick-prev,
.cardDepoimentos .slick-prev
{
    left: 60px;
    z-index: 1;
}
.eventos .slick-next,
.cardDepoimentos .slick-next
{
   
    right: 30px;
}
/* BOX BEM-VINDO */
.bem-vindo article{

    width: 350px;
   
}

.destaque article{
    width: 350px;

}

.btn-cardapio{
    padding: 0;
    display: flex;
    justify-content: center;

}

.cardapio .card-cardapio{
    justify-content: space-around;
    gap: 40px;
    
}

.coluna-contato .rede-social img{
    margin-left: 8px;
}


  

}    
/* FIM DO MEDIA 1200PX - NOTEBOOK */



/* #################################### */
/* ATÉ 768px (TABLET) */
/* #################################### */
@media not all and (max-width: 768px){
    .abrir-menu,
    .fechar-menu{
        display: none;
    }

}

@media (max-width: 768px) {

         .banner{
    display: none;
}

 .topo h1{
        margin: 10px;
    }

    .menu{
         background-color:rgba(210, 105, 30, 0.897);
        height: 100%;
        position: fixed;
        max-width: 330px;
        width: 20%;
        z-index: 10;
        top: 0;
        right: -200px;
        transition: right 1s ease-in-out;
        box-shadow: -4px 0px 5px rgba(70, 45, 30, 0.637);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        

    }

    .menu-ativo .menu{
        right: 0;
    }

    .menu ul{
        flex-direction: column;
        gap: 20px;
    }


    .menu ul li a:hover{
        color: var(--cor-texto);
    }


    .abrir-menu{
        background-image: url(../assets/botao_fechado.png);
        background-size: cover;
        padding: 18px;
        border: 0;
        display: block;
        margin-right: 20px;
    }


     .fechar-menu{
        background-image: url(../assets/botao_aberto.png);
        background-size: cover;
        padding: 18px;
        border: 0;
        display: block;
        margin: 25px;
        align-self: start;
    }


    .menu .rede-social{
       flex-direction: row;
       gap: 10px;
       margin-bottom: 50px;
       margin-right: 0;
    }

    .login img {
    width: 60px;
}

    .menu ul li a{
    margin: 0;
    
}





    /* FIM MENU */



         .banner{
    display: none;
}


.bem-vindo header p{
    width: auto;
}

.bem-vindo div div {
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.bem-vindo article{
        width: 390px;
        border-radius: 30px;
}



.destaque .card{
   flex-direction: column;
   align-items: center;
   gap: 30px;
}

.destaque article{
        width: 70%;
        height: auto;
        border-radius: 20px;
}


.card-flip{
    width: 90%;
}


.btn-cardapio{
    
    justify-content: center;
}

.equipe .card{
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.equipe .card article{
    width: 75%;
    height: auto;
    border-radius: 15px;

}

.equipe h4 {
    font-size: 25px;
   
}

.galeria .slick-prev:before,
.galeria .slick-next:before
{   
    font-size: 45px;
   

}

.galeria .slick-prev
{
    left: 15px;
    z-index: 1;
}

.galeria .slick-next
{
   right: 26px;
   z-index: 2;
   
}

.eventos .cardEventos h5{
    
    font-size: 25px;
    
}





.depoimentos .cardDepoimentos p{
   
   font-size: 15px;
}

.depoimentos .cardDepoimentos h4{
    font-size: 20px;
}

.depoimentos .cardDepoimentos h5{
    font-size: 20px;
}

.cardDepoimentos .slick-prev:before,
.cardDepoimentos .slick-next:before
{   
    font-size: 35px;
   

}

.cardDepoimentos .slick-prev
{
    left: -1px;
    z-index: 1;
}

.cardDepoimentos .slick-next
{
   
    right: 20px;
}

.rodape .rodape-grid{
flex-direction: column;
gap: 0px;
}

.rodape .coluna-end h3 {
    margin-top: 50px;
}

.coluna-reserva{
    width: 95%;
    height: 400px;
}


.box-reserva {
    top: 50px;
    width: 90%;
    padding: 35px;
}

.coluna-contato{
    margin-top: 50px;
}


.box-email p{
    margin-top: 100px;
    margin-bottom: 15px;
}

.box-email form{
    width: 90%;
  
}

.box-email form label{
    padding: 8px;
    font-size: 15px;
}

.box-email form button{
    width: 44px;
   
}

.box-email form button img{
    width: 20px;
    height: 20px;
    display: block;
}

.rede-social {
    margin-bottom: 15px;

}

    .rede-social img {
        margin-right: 0px;
    }






}

/* FIM DO MEDIA 768PX - TABLET */


/* #################################### */
/* ATÉ 380px (CELULAR) */
/* #################################### */

@media not all and (max-width: 380px){
   
}
/* Fim not all and 380px */

@media (max-width: 380px) {
    /* MENU */

    .topo h1{
        margin: 10px;
    }

    .menu{
        background-color:rgba(210, 105, 30, 0.897);
        height: 100%;
        position: fixed;
        max-width: 230px;
        width: 40%;
        z-index: 10;
        top: 0;
        right: -200px;
        transition: right 1s ease-in-out;
        box-shadow: -4px 0px 5px rgba(70, 45, 30, 0.637);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .menu-ativo .menu{
        right: 0;
    }

    .menu ul{
        flex-direction: column;
        gap: 20px;
    }

    .menu ul li a:hover{
        color: var(--cor-texto);
    }

    
    
    .abrir-menu{
        background-image: url(../assets/botao_fechado.png);
        background-size: cover;
        padding: 18px;
        border: 0;
        display: block;
        margin-right: 20px;
    }
    
    
    .fechar-menu{
        background-image: url(../assets/botao_aberto.png);
        background-size: cover;
        padding: 18px;
        border: 0;
        display: block;
        margin: 10px;
        align-self: start;
    }
    
    
    .menu .rede-social{
        flex-direction: row;
        gap: 10px;
        margin-bottom: 50px;
    }
    
    .rede-social img {
    margin-right: 0px;
    }
    
    
    .login img {
        width: 60px;
    }
    
    .menu ul li a{
        margin: 0;
        
    }
    




    /* FIM MENU */



         .banner{
    display: none;
}


.bem-vindo header p{
    width: auto;
}

.bem-vindo div div {
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.bem-vindo article{

    width: 330px;
   
}



.destaque .card{
   flex-direction: column;
   align-items: center;
   gap: 20px;
}

.destaque article{
    width: 95%;
    height: auto;
}


.card-flip{
    width: 95%;
}

.btn-cardapio{
    
    justify-content: center;
}

.equipe .card{
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.equipe .card article{
    width: 85%;
    height: auto;

}

.galeria .slick-prev:before,
.galeria .slick-next:before
{   
    font-size: 45px;
   

}

.galeria .slick-prev
{
    left: 15px;
    z-index: 1;
}

.galeria .slick-next
{
   right: 26px;
   z-index: 2;
   
}

.depoimentos .cardDepoimentos p{
   
   font-size: 15px;
}

.depoimentos .cardDepoimentos h4{
    font-size: 20px;
}

.depoimentos .cardDepoimentos h5{
    font-size: 20px;
}

.cardDepoimentos .slick-prev:before,
.cardDepoimentos .slick-next:before
{   
    font-size: 35px;
   

}

.cardDepoimentos .slick-prev
{
    left: -1px;
    z-index: 1;
}

.cardDepoimentos .slick-next
{
   
    right: 20px;
}

.rodape .rodape-grid{
flex-direction: column;
gap: 0px;
}

.rodape .coluna-end h3 {
    margin-top: 50px;
}

.coluna-reserva{
    width: 95%;
    height: 400px;
}


.box-reserva {
    top: 50px;
    width: 90%;
    padding: 15px;
}

.coluna-contato{
    margin-top: 50px;
}


.box-email p{
    margin-top: 100px;
    margin-bottom: 15px;
}

.box-email form{
    width: 90%;
  
}

.box-email form label{
    padding: 8px;
    font-size: 15px;
}

.box-email form button{
    width: 44px;
   
}

.box-email form button img{
    width: 20px;
    height: 20px;
    display: block;
}

.rede-social {
    margin-bottom: 15px;

}

.coluna-contato .rede-social img{
    margin-right: 8px;
}

}