/*------------------------------------------------- */
/* ATÉ 1200px (NOTEBOOK) */
/* ------------------------------------------------ */

@media (max-width:1200px) {

    .menu ul li a{
    font-size: 20px;
    margin: 0 20px;
    
}
.topo h1{
    width: 200px;
    height: 129px;
    margin-left: 30px;
    background-size: cover;
   
  
}

/* TESTE DE BARRA HORIZONTAL */
    
    .banner{
        display: none;
    }
    .depoimentos .cardDepo h5{
    
    font-size: 15px;
   
}



    
    

    /* --------------------------------- */

    .historia-jho p{
        font-size: 25px;
        margin-left: 15px;
    }
    
    .historia-jho img{
        box-shadow: none;
        margin-right: 15px;
    }
    
    .mais{
        text-align: center;
    }

    
    
    /* Setas do slide depoimentos */
.cardDepo .slick-prev
{
    left: 30px;
    z-index: 1;
}

.cardDepo .slick-next
{
   
    right: 60px;
}

.depoimentos .cardDepo p{
    font-size: 15px;
    
}
.depoimentos .cardDepo h5{
   font-size:15px;
}





}









/* FIM DO MEDIA 1200PX */


/* ----------------------------- */
/* ATÉ 768px (TABLET) */
/* ----------------------------- */

@media (max-width:768px) {
            .banner{
    display: none;
    
}



.topo .rede-social{
    display: none!important;
}


}


/* FIM DO MEDIA 768PX */

/* ---------------------------------- */
/* ATÉ 380px (CELULAR) */
/* ----------------------------------- */



@media not all and (max-width: 380px) {
    .abrir-menu,
    .fechar-menu{
        display: none;
    }
}

/* FIM DO NOT ALL AND 380PX */

@media (max-width: 380px) {
     .menu{
        background-color:chocolate;
        height: 100%;
        position: fixed;
        max-width: 230px;
        width: 40%;
        z-index: 10;
        top: 0;
        right: 0;

    }

    .menu ul{
        flex-direction: column;
        gap: 20px;
    }

    .menu ul li a:hover{
        color: var(--cor-texto);
    }


    .abrir-menu{
        background-image: url(../assets/botao_fechado.png);
        background-size: cover;
        padding: 18px;
        border: 0;
        display: block;
        margin-right: 20px;
    }


     .fechar-menu{
        background-image: url(../assets/botao_aberto.png);
        background-size: cover;
        padding: 18px;
        border: 0;
        display: block;
        margin: 10px;
    }

    .rede-social{
        display: none!important;
    }



}