/* FONTES GOOGLE */

@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/*VARIAVÉIS JHO */
:root{

    /* Cores */
    --cor-primaria-1: #000000;
    --cor-primaria-2: #fca311;
    --cor-secundaria-1: #8b5e3a;
    --cor-secundaria-2: #562f00;
    --cor-terciaria: #e5e5e5;
    

    --cor-texto: #000000;
    --cor-titulo: #14213d;
    --cor-subtitulo: #000000;

    /* Fontes */

    --fonte-titulo: "Bebas Neue";
    --fonte-texto: "Inknut Antiqua";
}

h2{
    font-family: var(--fonte-titulo);
    font-size: 40px;
    color: var(--cor-terciaria);
}

h3{
    font-family: var(--fonte-texto);
    font-size: 25px;
    color: var(--cor-terciaria);

}

h4{
    font-family: var(--fonte-texto);
    font-size: 20px;
}

h5{
    font-family: var(--fonte-texto);
    font-size: 20px;
}

p{
    font-family: var(--fonte-texto);
    color: var(--cor-texto);
    font-size: 25px;
}

.site{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

.parallax-padrao{
    background-image: url(../assets/banner_jho_substituto.png);
    background-size: cover;
    background-position: center;
    height: 240px;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
}

.parallax-padrao:before{
    content: "";
    position:absolute;
    inset: 0;
    background: rgba (0, 0, 0, .5);
}

.parallax-padrao {
    position: relative;
}


.topo{
    background-color: #0b0b0b;
}

.topo div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.topo h1{
    width: 200px;
    height: 129px;
    background-image: url(../assets/jhon_logo.svg);
    margin: 10px 0;
    background-size: cover;
    margin: 10px 0;
    text-indent: -9999px;
}



/* menu */

.menu ul {
    display: flex;
}

.menu ul li a{
    font-size: 25px;
    color: var(--cor-terciaria);
    text-decoration: none;
    margin: 0 30px;
    font-family: var(--fonte-texto);
}

.menu ul li a:hover{
    color: var(--cor-primaria-2);
}
.menu-ativo{
    color: var(--cor-primaria-2)!important;
}

/* rede social */
.rede-social{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.rede-social li{
    width: 30px;
    background-color: var(--cor-primaria-2);
    border-radius: 50px;

      transition: transform 0.25s ease, 
   background-color 0.25s ease, 
   box-shadow 0.25s ease;
}

.rede-social li:hover{
    background-color: var(--cor-titulo);
    transform:translateY(-3px) scale(1.15);
    /* Box-shadow: X, Y, Desfoque e Cor */
    box-shadow: 0 5px 10px var(--cor-primaria-2);
}

.rede-social a{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.rede-social img{
    width: 18px;
    display: block;
}




.topo ul{
    display: flex;
}

/* Banner */

.banner img{
    width: 100%;
    
}

.historia-jho{
    max-width: 1920px;
    width: 100%;
    margin-top: 50px;
}

.historia-jho h2{
    text-align: center;
   
}

.historia-jho h3{
    margin-top: 10px;
    text-align: center;
   
}

.historia-jho div{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.historia-jho p{
    margin-right: 15px;
    max-width: 900px;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 100px;
    font-size: 30px;
}

.historia-jho img{
    border-radius: 25px 25px 30px 30px;
    box-shadow: var(--cor-primaria-2) 5px 5px;
}



.servicos{
    margin-top: 50px;
    max-width: 1920px;
    width: 100%;
}

.servicos h2{
    text-align: center;
}

.servicos h3{
    margin-top: 10px;
    text-align: center;
}

.card-servicos{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 1500px;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;

}

.card-servicos p{
    text-align: center;
}

.mais{
    max-width: 1350px;
    width: 100%;
    margin: 30px auto 50px auto;
    text-align: end;
}

.servicos a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 15px 25px;
    border: solid 1px #333;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.901);
    font-family: var(--fonte-titulo);

    display: inline-block;

    transition: transform 0.6s ease,  box-shadow 0.4s ease, background-color 0.5s ease;
}


.servicos a:hover{
    color:gold ;

    transform: translateY(-5px) scale(1.1);
    box-shadow: 10px 10px 10px rgba(10, 7, 7, 0.841);
    background-color: rgba(0, 0, 0, 0.73);

}

.galeria{
    max-width:1920px;
    width: 100%;
    margin: 0 auto;
}

.galeria h2{
    text-align: center;
   
}

.galeria h3{
    text-align: center;
    
}

.galeria .cards-galeria{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}



.galeria .cards-galeria{
    padding-top: 50px;

}

.agendamentos{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
}

.agendamentos h2{
    text-align: center;
   
}

.agendamentos h3{
    text-align: center;
   
    margin-top: 10px;
}

.textao{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
    max-width: 1920px;
}

.textao ol{
    font-size: 30px;
    font-family: var(--fonte-titulo);
    max-width: 1920px;
    margin-top: 50px;

}
    

.logo-top{
    display: flex;
    justify-content:center;
    margin-top: 50px;
   
    
}
    

.link-app{
    max-width: 1920px;
    width:100%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
    font-family: var(--fonte-texto);
    
}

.link-app a{
    text-decoration: wavy;
    color:rgb(0, 0, 0);
    padding: 15px 25px;
    border: solid 2px var(--cor-primaria-1);
    border-radius: 10px;
    background-color: var(--cor-terciaria);

    display: inline-block;

    transition: transform 0.3s ease-in, box-shadow 0.4s ease-out, background-color 0.3s ease-in-out;

}

.link-app a:hover{
    color: rgb(240, 189, 21);
    border: solid 2px #000000;

    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 20px rgba(24, 22, 22, 0.774);

    background-color: var(--cor-primaria-1);
}

.depoimentos{
    max-width: 1920px;
    width: 100%;
}

.cardDepo article ul{
    display: flex;
     justify-content: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 50px;
}

.depoimentos .cardDepo article img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    
}

.depoimentos .cardDepo p{
    text-align: center;
    margin-top: 10px;
    height: 150px;
}

.depoimentos .cardDepo h4{
    font-family: var(--fonte-titulo);
    font-size: 30px;
    text-align: center;
}

.registroDepo{
    display: flex;
    justify-content: space-between;
    font-family: var(--fonte-texto);
    font-size: 25px;
}

.cardDepo .slick-prev:before,
.cardDepo .slick-next:before
{   
    font-size: 35px;
    color: var(--cor-secundaria-1);

}

.cardDepo .slick-prev
{
    left: -40px;
    z-index: 1;
}

.cardDepo .slick-next
{
   
    right: -25px;
}





.produtos{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
}

.produtos h2{
    text-align: center;
    
}

.produtos h3{
    text-align: center;
 
}

.card-produtos{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1500px;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;
}

.card-produtos article{
    background-color: var(--cor-terciaria);
    padding: 50px;
    width: 300px;
    height: 350px;
    

}


.produtos h4{
    text-align: center;
    font-size: 30px;
    margin-top: 25px;
    font-family: var(--fonte-titulo);
}

.produtos h5{
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}

.produtos p{
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}

.localizacao{
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
}

.localizacao h2{
    text-align: center;
   
}

.funcionamento h3{
   color: var(--cor-primaria-1);
    text-align: center;
    margin-top: 20px;
}

.funcionamento h4{
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}

.funcionamento h5{
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}

.imagem-mapa{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

   
    
.logo_fim{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 50px;
  
}


.icone_redeFim  li{
    width: 60px;
    background-color: var(--cor-primaria-1);
    border-radius: 50px;

      transition: transform 0.25s ease, 
   background-color 0.25s ease, 
   box-shadow 0.25s ease;
}

.icone_redeFim  li:hover{
    background-color: var(--cor-primaria-2);
    transform:translateY(-3px) scale(1.15);
    /* Box-shadow: X, Y, Desfoque e Cor */
    box-shadow: 0 5px 10px var(--cor-primaria-2);
}

.icone_redeFim a{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.icone_redeFim  img{
    width: 36px;
    display: block;
}

.creditos{
    width: 100%;
}

.creditos h2{
    text-align: center;
    font-family: var(--fonte-texto);
    font-size: 25px;
    color: var(--cor-primaria-2);
}



    




   
    













    





   
